<h2>Employee Details</h2>
<p><%= link_to  "Back", root_path %>  
  <%= link_to  "Edit Employee", "/employees/#{@employee.id}/edit" %>   
  <%= link_to  "Add Employee", new_employee_path %>
  <%= button_to "Remove Employee", employee_path(@employee), method: :delete, data: { confirm: "Are you sure?" } %>
</p>
 <ul>
   <li>Name: <%= @employee.name %></li>
   <li>Location: <%= @employee.location %> </li>
   <li>Status: <%= @employee.status %></li>
</ul>
