<h2>Edit Item</h2>
<% flash.each do |name, msg| %>
  <p><%= "#{name} - #{msg}" %>To Edit, modify the form inputs</p>
<% end %>

<%= simple_form_for @item do |f| %>
  <%= f.input :name %>
  <%= f.input :serial %>
  <%= f.input :year, collection: 2008..2014 %>
  <%= f.input :purchase_date, as: :date %>
  <%= f.input :purchase_price %>
  <%= f.button :submit %>
<% end %>

<br />
<%= link_to  "Home", "/items" %>