<% flash.each do |name, msg| %>
  <p><%= "#{name} - #{msg}" %></p>
<% end %>

<h2> Your Items</h2>
<p>To view item details, click on item name</p>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, "items/#{item.id}" %> <%= item.serial %> <%= item.category %> <%= item.year %> <%= item.purchase_date %> <%= item.purchase_price %></li> 
  <% end %>
</ul>

<%= link_to  "Add Item", items_new_path %> <br />
<%= link_to  "Edit Item", items_edit_path(:item) %>