<% flash.each do |name, msg| %>
  <p><%= "#{name} - #{msg}" %></p>
<% end %>

<h2> Your Items</h2>
<%= link_to  "Add Item", new_item_path %> <br />
<pre>To view item details, click on item name</pre>
<table>
  <tr>
    <td>Item Name</td>
    <td>Serial</td>
    <td>Type</td>
    <td>Year Made</td>
    <td>Date Purchased</td>
    <td>Purchase Price</td>
    <td>Location</td>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, "items/#{item.id}" %> </td>
      <td><%= item.serial %> </td>
      <td><%= item.category %> </td>
      <td><%= item.year %> </td>
      <td><%= item.purchase_date %> </td>
      <td><%= item.purchase_price %></td>
      <td><%= item.location %></td>
    </tr>
  <% end %>
</table>