<% flash.each do |name, msg| %>
  <p><%= "#{name} - #{msg}" %></p>
<% end %>

<h2> Substantial Inventory!</h2>

<h4>Your Items</h4>
<%= link_to  "Add Item", new_item_path %> 
<pre>Inventory statistics will go here</pre>
<table class="table">
  <tr>
    <th>Item Name</th>
    <th>Serial</th>
    <th>Year Made</th>
    <th>Location</th>
    <th>Date Purchased</th>
    <th>Purchase Price</th>
    <th>Additional Notes</th>
    <th>Assigned To:</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, "items/#{item.id}" %> </td>
      <td><%= item.serial %> </td>
      <td><%= item.year %> </td>
      <td><%= item.location %></td>
      <td><%= item.purchase_date %> </td>
      <td><%= item.purchase_price %></td>
      <td><%= item.notes %></td>
      <td><%= item.employee.name if item.employee %></td>
    </tr>
  <% end %>
</table>

<h4>Employees</h4>
<%= link_to  "Add Employee", new_employee_path %>
<table class="table">
  <tr>
    <th>Employee Name</th>
    <th>Location</th>
    <th>Status</th>
    <th>Created On</th>
    <th>Updated On</th>
  </tr>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.name, "employees/#{employee.id}" %> </td>
      <td><%= employee.location %></td>
      <td><%= employee.status %></td>
      <td><%= employee.created_at %></td>
      <td><%= employee.updated_at %></td>
    </tr>
  <% end %>
</table>