<% flash.each do |name, msg| %>
  <p><%= "#{name} - #{msg}" %></p>
<% end %>

<h2> Your Items</h2>

<ul>
  <% @items.each do |item| %>
    <li><%= item.name %> <%= item.serial %> <%= item.category %> <%= item.year %></li>
  <% end %>
</ul>

<%= link_to  "Add Item", "/items/new" %>
<%= link_to  "Edit Item", "/items/edit" %>
