<h1>Enter Item!</h1>
<%= form_tag("/items") do %>
  <p>My form goes here</p>

  <%= label_tag(:name, "Item Name: ") %>
  <%= text_field_tag('[items][name]', :name) %>

  <%= label_tag(:serial, "Serial: ") %>
  <%= text_field_tag('[items][serial]', :serial) %>
  
  <%= label_tag(:category, "Category: ") %>
  <%= select_tag('[items][category]', options_for_select(["Select", "iMac", "Air", "MBP 13", "MBP 15", "iPhone", "iPad", "Android"])) %> 
  
  <%= label_tag(:year, "Production Year: ") %>
  <%= text_field_tag('[items][year]', "") %>

  <%= submit_tag("Submit") %>
<% end %>
