<h1>Enter Item!</h1>
<p>Return <%= link_to  "Home", root_path %></p>
<h3>Please Fill Out Form</h3>

<%= simple_form_for @item do |f| %>
  <%= f.input :name %>
  <%= f.input :serial %>
  <%= f.input :category, collection: Categories.all %>
  <%= f.input :year %>
  <%= f.input :purchase_date, as: :date %>
  <%= f.input :purchase_price %>
  <%= f.button :submit %>
<% end %>
