<h1>Enter Item!</h1>
<p>Return <%= link_to  "Home", root_path %></p>
<h3>Please Fill Out Form</h3>

<%= simple_form_for @item do |f| %>
  <%= f.input :name %>
  <%= f.input :serial %>
  <%= f.input :category, collection: Categories.all, prompt: "Select One" %>
  <%= f.input :year, collection: 2008..2014, prompt: "Production Year" %>
  <%= f.input :purchase_date, as: :string, input_html:{class: 'datepicker'}  %>
  <%= f.input :purchase_price %>
  <%= f.input :location, collection: Locations.all, prompt: "Select One" %> 
  <%= f.button :submit %>
<% end %>

<script>
  $(function(){
    $('.datepicker').datepicker();
  });
</script>